<h1>Posts#index</h1>
	<%= link_to "Add a Post", new_post_path %>
	<%= link_to "Tags Page", tags_path %>

<% @posts.each do |post| %>
	<div>
		<p><%= post.title %></p>
		<p>Author: <%= post.author %></p>
		<p>User responsible: <%= post.user.name %></p>
		<p>Content: <%= post.content %></p>
		<p><%= link_to "See More", post_path(post.id) %></p>
		<p><%= link_to "Edit this Post", edit_post_path(post.id) %></p>
		<p>
			Tags:
			<% post.tags.each do |tag| %>
				<%= tag.name %>
			<% end %>
		</p>
	</div>
<% end %>