
<div class="allPosts">
<% @posts.each do |post| %>
	<div class="panel panel-primary aPost">
	                <div class="panel-heading">
	                  <h1 style="float: left; margin-left: 20px;" class="panel-title aPostTitle">
	                  	<%= link_to post.title, post_path(post.id) %>
	                  </h1>
	                  <span style="float: right; margin-top: 12px" class="label label-info" data-toggle="tooltip" data-placement="right" title="<%= post.author %>"><%= post.user.name %><span class="badge"><%= post.user.posts.length%></span></span>
	                </div>
	                <div class="panel-body aPostBody">
	            
	                	<!-- <span style="float: right; margin-top: 0px" class="label label-info" data-toggle="tooltip" data-placement="left" title="<%= post.author %>"><%= post.user.name %><span class="badge"><%= post.user.posts.length%></span></span> -->

						<p class="post-body"><%= post.content %></p>
						<p><%= link_to "Edit this Post", edit_post_path(post.id) %></p>

						<div class="panel panel-info">
						                <div class="panel-heading">
						                  <h3 class="panel-title">Tags:</h3>
						                </div>
						                <div class="panel-body">
						                	<% post.tags.each do |tag| %>
						        				<%= tag.name %>          
						                	<% end %>
						                </div>
						                
		              	</div>
		  			</div>
	</div>
<% end %>
</div>