<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

	<%= link_to "Home", posts_path %>

	<div>
		<p><%= @post.title %></p>
		<p>By: <%= @post.author %></p>
		<p>Content: <%= @post.content %></p>
		<p><%= link_to "Edit this post", edit_post_path(@post.id) %></p>
		<p>
			Tags:
			<% @post.tags.each do |tag| %>
				<%= tag.name %>
			<% end %>
		</p>
	</div>